// mobile screens potrait mode*************/
.landscape-deactive {
  display: grid;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 100vh;
  .level-three__container {
    display: grid;
    position: relative;
    overflow: hidden;
    width: 100vw;
    min-height: 400px;
    background-color: #e3e8fe;
    background-image: url("../../images/Lvl3/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .header-area {
      width: 100%;
      padding-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .dynamic-area__money {
        gap: 10px;
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .money__image {
          margin-top: -5px;
          width: 25px;
          padding-top: 10px;
        }
        .money__amount {
          font-size: 20px;
          font-weight: bold;
          display: flex;
          align-items: center;
        }
      }
      .dynamic-area__bar {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        height: 30px;
        .bar__guage {
          transform: rotate(-90deg);
          width: 30px;
        }
      }
    }

    .level-three__map {
      position: absolute;
      width: 25%;
      justify-content: center;
      .map_items {
        position: relative;
        .map {
          z-index: 2;
          opacity: 1;
        }
      }
    }
    .bridge1 {
      top: 20%;
      left: 8%;
      .yellow_tile {
        top: -30%;
        left: auto;
        right: -50%;
      }
      .green_tile {
        top: 100%;
        left: -20%;
      }
    }
    .bridge2 {
      top: 18%;
      left: auto;
      right: 25%;
      .yellow_tile {
        top: -20%;
        left: auto;
        right: -85%;
      }
      .green_tile {
        top: 70%;
        left: auto;
        right: -80%;
      }
    }
    .road1 {
      top: 45%;
      left: 35%;
      .yellow_tile {
        top: 20%;
        right: -90%;
        left: auto;
      }
      .green_tile {
        top: -25%;
        right: -30%;
        left: auto;
      }
    }
    .road2 {
      top: 65%;
      left: 5%;
      .yellow_tile {
        top: 20%;
        left: auto;
        right: -90%;
      }
      .green_tile {
        top: 70%;
        left: auto;
        right: -60%;
      }
    }
    .road3 {
      .level-three__tile {
        .level-three__tile_img {
          order: 1;
        }
        .level-three__tile_text {
          order: 2;
        }
      }
      top: 70%;
      left: auto;
      right: 13%;
      .yellow_tile {
        top: -30%;
        left: auto;
        right: -30%;
      }
      .green_tile {
        top: 75%;
        left: -70%;
        right: auto;
      }
    }
  }
}

.landscape-active {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  .level-three__container {
    display: grid;
    position: relative;
    transform: rotate(-90deg);
    width: 100vh;
    height: 100vw;
    overflow: hidden !important;
    background-color: #e3e8fe;
    background-image: url("../../images/Lvl3/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .header-area {
      width: 100%;
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .dynamic-area__money {
        gap: 10px;
        margin-left: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .money__image {
          margin-top: -5px;
          width: 25px;
          padding-top: 10px;
        }
        .money__amount {
          font-size: 20px;
          font-weight: bold;
          display: flex;
          align-items: center;
        }
      }
      .dynamic-area__bar {
        margin-right: 90px;
        display: flex;
        justify-content: flex-end;
        height: 30px;
        .bar__guage {
          transform: rotate(-90deg);
          width: 30px;
        }
      }
    }

    .level-three__map {
      position: absolute;
      width: 17%;
      justify-content: center;
      .map_items {
        position: relative;
        .map {
          z-index: 2;
          opacity: 1;
        }
      }
    }
    .bridge1 {
      .level-three__tile {
        .level-three__tile_img {
          order: 1;
        }
        .level-three__tile_text {
          order: 2;
          .tile__percentage {
            justify-self: flex-start;
          }
        }
      }
      top: 25%;
      left: 5%;
      .yellow_tile {
        top: -20%;
        left: auto;
        right: -20%;
      }
      .green_tile {
        top: 10%;
        left: auto;
        right: -60%;
      }
    }
    .bridge2 {
      .level-three__tile {
        .level-three__tile_img {
          order: 1;
        }
        .level-three__tile_text {
          order: 2;
          .tile__percentage {
            justify-self: flex-start;
          }
        }
      }
      top: 27%;
      left: auto;
      right: 18%;
      .yellow_tile {
        top: -20%;
        left: auto;
        right: -45%;
      }
      .green_tile {
        top: 20%;
        left: auto;
        right: -80%;
      }
    }
    .road1 {
      .level-three__tile {
        display: flex;
        .level-three__tile_img {
          order: 1;
        }
        .level-three__tile_text {
          order: 2;
          .tile__percentage {
            justify-self: flex-start;
          }
        }
      }
      top: 25%;
      left: 35%;
      .yellow_tile {
        top: 20%;
        right: -50%;
        left: auto;
      }
      .green_tile {
        top: -15%;
        right: 0%;
        left: auto;
      }
    }
    .road2 {
      .level-three__tile {
        .level-three__tile_img {
          order: 1;
        }
        .level-three__tile_text {
          order: 2;
          .tile__percentage {
            justify-self: flex-start;
          }
        }
      }
      top: 64%;
      left: 15%;
      .yellow_tile {
        top: 20%;
        left: auto;
        right: -70%;
      }
      .green_tile {
        top: 70%;
        left: auto;
        right: -50%;
      }
    }
    .road3 {
      .level-three__tile {
        .level-three__tile_img {
          order: 1;
        }
        .level-three__tile_text {
          order: 2;
          .tile__percentage {
            justify-self: flex-start;
          }
        }
      }
      top: 64%;
      left: auto;
      right: 30%;
      .yellow_tile {
        top: -10%;
        left: auto;
        right: -40%;
      }
      .green_tile {
        top: 25%;
        left: auto;
        right: -70%;
      }
    }
  }
}

// tablet screens******************/
// landscape ************/
@media (min-height: 600px) and (min-width: 500px) {
  .landscape-deactive {
    .level-three__container {
      height: 100%;

      .header-area {
        padding-top: 30px;
        .dynamic-area__money {
          .money__image {
            width: 40px;
          }
          .money__amount {
            font-size: 35px;
          }
        }
        .dynamic-area__bar {
          height: 50px;
          .bar__guage {
            margin-right: 80px;
            width: 50px;
          }
        }
      }

      .level-three__map {
        width: 20%;
        .map_items {
          .level-three__tile {
            gap: 0px;
            .level-three__tile_img {
              width: 80px;
            }

            .level-three__tile_text {
              .tile__percentage {
                font-size: 22px;
              }

              .tile__price {
                font-size: 18px;
                opacity: 0.5;
              }
            }
          }
        }
      }
      .bridge1 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 20%;
        left: 18%;
        .yellow_tile {
          top: 20%;
          right: auto;
          left: -55%;
        }
        .green_tile {
          top: 50%;
          right: auto;
          left: -75%;
        }
      }
      .bridge2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 18%;
        left: auto;
        right: 17%;
        .yellow_tile {
          top: 0%;
          left: auto;
          right: -55%;
        }
        .green_tile {
          top: 40%;
          left: auto;
          right: -65%;
        }
      }
      .road1 {
        .map_items {
          display: grid;
        }
        .level-three__tile {
          display: grid;
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: center;
            }
          }
        }
        top: 15%;
        left: 41%;
        .yellow_tile {
          top: -40%;
          right: auto;
          left: 17%;
        }
        .green_tile {
          top: -40%;
          right: auto;
          left: 53%;
        }
      }
      .road2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 60%;
        left: 25%;
        .yellow_tile {
          top: 40%;
          right: auto;
          left: -70%;
        }
        .green_tile {
          top: 80%;
          right: auto;
          left: -40%;
        }
      }
      .road3 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
          }
        }
        top: 55%;
        left: auto;
        right: 25%;
        .yellow_tile {
          top: 40%;
          left: auto;
          right: -65%;
        }
        .green_tile {
          top: 75%;
          left: auto;
          right: -45%;
        }
      }
    }
  }

  .landscape-active {
    .level-three__container {
      height: 50vw;

      .header-area {
        padding-top: 30px;
        .dynamic-area__money {
          gap: 10px;
          margin-left: 30px;
          justify-content: flex-start;
          .money__image {
            margin-top: -5px;
            width: 35px;
            padding-top: 10px;
          }
          .money__amount {
            font-size: 30px;
          }
        }
        .dynamic-area__bar {
          display: flex;
          justify-content: center;
          height: 50px;
          .bar__guage {
            transform: rotate(-90deg);
            width: 50px;
          }
        }
      }

      .level-three__map {
        position: absolute;
        width: 20%;
        justify-content: center;
        .map_items {
          position: relative;
          .map {
            z-index: 2;
            opacity: 1;
          }
          .level-three__tile {
            gap: 0px;
            .level-three__tile_img {
              width: 60px;
            }

            .level-three__tile_text {
              justify-content: center;
              .tile__percentage {
                gap: 5px;
                font-size: 20px;
              }

              .tile__price {
                justify-self: center;
                font-size: 16px;
                opacity: 0.5;
              }
            }
          }
        }
      }
      .bridge1 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 20%;
        left: 18%;
        .yellow_tile {
          top: 20%;
          right: auto;
          left: -60%;
        }
        .green_tile {
          top: 55%;
          right: auto;
          left: -80%;
        }
      }
      .bridge2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
          }
        }
        top: 20%;
        left: auto;
        right: 18%;
        .yellow_tile {
          top: -5%;
          left: auto;
          right: -60%;
        }
        .green_tile {
          top: 40%;
          left: auto;
          right: -75%;
        }
      }
      .road1 {
        .map_items {
          display: grid;
        }
        .level-three__tile {
          display: grid;
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: center;
            }
          }
        }
        top: 25%;
        left: 41%;
        .yellow_tile {
          top: -45%;
          right: auto;
          left: 20%;
        }
        .green_tile {
          top: -45%;
          right: auto;
          left: 65%;
        }
      }
      .road2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 60%;
        left: 25%;
        .yellow_tile {
          top: 40%;
          right: auto;
          left: -75%;
        }
        .green_tile {
          top: 85%;
          right: auto;
          left: -50%;
        }
      }
      .road3 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
          }
        }
        top: 55%;
        left: auto;
        right: 20%;
        .yellow_tile {
          top: 30%;
          left: auto;
          right: -70%;
        }
        .green_tile {
          top: 75%;
          left: auto;
          right: -40%;
        }
      }
    }
  }
}

// potrait ************/
@media (min-width: 48em) {
  .landscape-deactive {
    align-items: flex-start;
    .level-three__container {
      width: 100vw;
      height: 50vh;

      .header-area {
        padding-top: 30px;
        .dynamic-area__money {
          gap: 10px;
          margin-left: 30px;
          justify-content: flex-start;
          .money__image {
            margin-top: -5px;
            width: 35px;
            padding-top: 10px;
          }
          .money__amount {
            font-size: 30px;
          }
        }
        .dynamic-area__bar {
          display: flex;
          justify-content: center;
          height: 50px;
          .bar__guage {
            transform: rotate(-90deg);
            width: 50px;
          }
        }
      }

      .level-three__map {
        position: absolute;
        width: 20%;
        justify-content: center;
        .map_items {
          position: relative;
          .map {
            z-index: 2;
            opacity: 1;
          }
          .level-three__tile {
            gap: 0px;
            .level-three__tile_img {
              width: 60px;
            }

            .level-three__tile_text {
              justify-content: center;
              .tile__percentage {
                gap: 5px;
                font-size: 20px;
              }

              .tile__price {
                justify-self: center;
                font-size: 16px;
                opacity: 0.5;
              }
            }
          }
        }
      }
      .bridge1 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 20%;
        left: 18%;
        .yellow_tile {
          top: 20%;
          right: auto;
          left: -60%;
        }
        .green_tile {
          top: 55%;
          right: auto;
          left: -80%;
        }
      }
      .bridge2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
          }
        }
        top: 20%;
        left: auto;
        right: 18%;
        .yellow_tile {
          top: -5%;
          left: auto;
          right: -60%;
        }
        .green_tile {
          top: 40%;
          left: auto;
          right: -75%;
        }
      }
      .road1 {
        .map_items {
          display: grid;
        }
        .level-three__tile {
          display: grid;
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: center;
            }
          }
        }
        top: 25%;
        left: 41%;
        .yellow_tile {
          top: -45%;
          right: auto;
          left: 20%;
        }
        .green_tile {
          top: -45%;
          right: auto;
          left: 65%;
        }
      }
      .road2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 60%;
        left: 25%;
        .yellow_tile {
          top: 40%;
          right: auto;
          left: -75%;
        }
        .green_tile {
          top: 85%;
          right: auto;
          left: -50%;
        }
      }
      .road3 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
          }
        }
        top: 55%;
        left: auto;
        right: 20%;
        .yellow_tile {
          top: 30%;
          left: auto;
          right: -70%;
        }
        .green_tile {
          top: 75%;
          left: auto;
          right: -40%;
        }
      }
    }
  }

  .landscape-active {
    .level-three__container {
      .header-area {
        padding-top: 30px;
        .dynamic-area__money {
          .money__image {
            width: 40px;
          }
          .money__amount {
            font-size: 35px;
          }
        }
        .dynamic-area__bar {
          height: 50px;
          .bar__guage {
            margin-right: 80px;
            width: 50px;
          }
        }
      }

      .level-three__map {
        width: 20%;
        .map_items {
          .level-three__tile {
            gap: 0px;
            .level-three__tile_img {
              width: 80px;
            }

            .level-three__tile_text {
              .tile__percentage {
                font-size: 22px;
              }

              .tile__price {
                font-size: 18px;
                opacity: 0.5;
              }
            }
          }
        }
      }
      .bridge1 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 20%;
        left: 18%;
        .yellow_tile {
          top: 20%;
          right: auto;
          left: -55%;
        }
        .green_tile {
          top: 50%;
          right: auto;
          left: -75%;
        }
      }
      .bridge2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 18%;
        left: auto;
        right: 17%;
        .yellow_tile {
          top: 0%;
          left: auto;
          right: -55%;
        }
        .green_tile {
          top: 40%;
          left: auto;
          right: -65%;
        }
      }
      .road1 {
        .map_items {
          display: grid;
        }
        .level-three__tile {
          display: grid;
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: center;
            }
          }
        }
        top: 15%;
        left: 41%;
        .yellow_tile {
          top: -40%;
          right: auto;
          left: 17%;
        }
        .green_tile {
          top: -40%;
          right: auto;
          left: 53%;
        }
      }
      .road2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 60%;
        left: 25%;
        .yellow_tile {
          top: 40%;
          right: auto;
          left: -70%;
        }
        .green_tile {
          top: 80%;
          right: auto;
          left: -40%;
        }
      }
      .road3 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
          }
        }
        top: 55%;
        left: auto;
        right: 25%;
        .yellow_tile {
          top: 40%;
          left: auto;
          right: -65%;
        }
        .green_tile {
          top: 75%;
          left: auto;
          right: -45%;
        }
      }
    }
  }
}
// desktop screen****************/
@media (min-width: 65em) {
  .landscape-deactive {
    align-items: flex-start;
    .level-three__container {
      width: 100vw;
      height: 100vh;

      .header-area {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .dynamic-area__money {
          gap: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          .money__image {
            margin-top: -5px;
            width: 40px;
            padding-top: 10px;
          }
          .money__amount {
            font-size: 35px;
            display: flex;
            align-items: center;
          }
        }
        .dynamic-area__bar {
          display: flex;
          justify-content: center;
          height: 60px;
          .bar__guage {
            transform: rotate(-90deg);
            width: 60px;
          }
        }
      }

      .level-three__map {
        position: absolute;
        width: 20%;
        justify-content: center;
        .map_items {
          position: relative;
          .map {
            z-index: 2;
            opacity: 1;
          }
          .level-three__tile {
            gap: 0px;
            .level-three__tile_img {
              width: 100px;
            }

            .level-three__tile_text {
              justify-content: center;
              .tile__percentage {
                gap: 5px;
                font-size: 24px;
              }

              .tile__price {
                justify-self: center;
                font-size: 20px;
                opacity: 0.5;
              }
            }
          }
        }
      }
      .bridge1 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 20%;
        left: 20%;
        .yellow_tile {
          top: 20%;
          right: auto;
          left: -50%;
        }
        .green_tile {
          top: 50%;
          right: auto;
          left: -70%;
        }
      }
      .bridge2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 18%;
        left: auto;
        right: 15%;
        .yellow_tile {
          top: 0%;
          left: auto;
          right: -45%;
        }
        .green_tile {
          top: 40%;
          left: auto;
          right: -60%;
        }
      }
      .road1 {
        .map_items {
          display: grid;
        }
        .level-three__tile {
          display: grid;
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: center;
            }
          }
        }
        top: 15%;
        left: 43%;
        .yellow_tile {
          top: -30%;
          right: auto;
          left: 17%;
        }
        .green_tile {
          top: -30%;
          right: auto;
          left: 53%;
        }
      }
      .road2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 2;
          }
          .level-three__tile_text {
            order: 1;
            .tile__percentage {
              justify-self: flex-end;
            }
          }
        }
        top: 60%;
        left: 30%;
        .yellow_tile {
          top: 40%;
          right: auto;
          left: -60%;
        }
        .green_tile {
          top: 80%;
          right: auto;
          left: -30%;
        }
      }
      .road3 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 55%;
        left: auto;
        right: 18%;
        .yellow_tile {
          top: 40%;
          left: auto;
          right: -60%;
        }
        .green_tile {
          top: 75%;
          left: auto;
          right: -40%;
        }
      }
    }
  }
}

// mobile landscape **********/
@media (max-height: 600px) {
  .landscape-deactive {
    justify-content: center;
    align-content: center;
    .level-three__container {
      height: 100%;

      .header-area {
        width: 100%;
        margin-top: 13px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .dynamic-area__money {
          gap: 10px;
          margin-left: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .money__image {
            margin-top: -5px;
            width: 25px;
            padding-top: 10px;
          }
          .money__amount {
            font-size: 20px;
            display: flex;
            align-items: center;
          }
        }
        .dynamic-area__bar {
          margin-right: 90px;
          display: flex;
          justify-content: flex-end;
          height: 30px;
          .bar__guage {
            transform: rotate(-90deg);
            width: 30px;
          }
        }
      }

      .level-three__map {
        position: absolute;
        width: 17%;
        justify-content: center;
        .map_items {
          position: relative;
          .map {
            z-index: 2;
            opacity: 1;
          }
          .level-three__tile {
            .level-three__tile_img {
              width: 40px;
            }

            .level-three__tile_text {
              .tile__percentage {
                font-size: 14px;
              }

              .tile__price {
                font-size: 14px;
              }
            }
          }
        }
      }
      .bridge1 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 25%;
        left: 5%;
        .yellow_tile {
          top: -20%;
          left: auto;
          right: -20%;
        }
        .green_tile {
          top: 10%;
          left: auto;
          right: -60%;
        }
      }
      .bridge2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 27%;
        left: auto;
        right: 18%;
        .yellow_tile {
          top: -20%;
          left: auto;
          right: -45%;
        }
        .green_tile {
          top: 20%;
          left: auto;
          right: -80%;
        }
      }
      .road1 {
        .level-three__tile {
          display: flex;
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 25%;
        left: 35%;
        .yellow_tile {
          top: 20%;
          right: -50%;
          left: auto;
        }
        .green_tile {
          top: -15%;
          right: 0%;
          left: auto;
        }
      }
      .road2 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 64%;
        left: 15%;
        .yellow_tile {
          top: 20%;
          left: auto;
          right: -70%;
        }
        .green_tile {
          top: 70%;
          left: auto;
          right: -50%;
        }
      }
      .road3 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
            .tile__percentage {
              justify-self: flex-start;
            }
          }
        }
        top: 64%;
        left: auto;
        right: 30%;
        .yellow_tile {
          top: -10%;
          left: auto;
          right: -40%;
        }
        .green_tile {
          top: 25%;
          left: auto;
          right: -70%;
        }
      }
    }
  }

  .landscape-active {
    // justify-content: flex-start;
    .level-three__container {
      width: 100vh;
      height: 400px;

      .header-area {
        width: 100%;
        padding-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .dynamic-area__money {
          gap: 10px;
          margin-left: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .money__image {
            margin-top: -5px;
            width: 25px;
            padding-top: 10px;
          }
          .money__amount {
            font-size: 20px;
            display: flex;
            align-items: center;
          }
        }
        .dynamic-area__bar {
          margin-right: 10px;
          display: flex;
          justify-content: center;
          height: 30px;
          .bar__guage {
            transform: rotate(-90deg);
            width: 30px;
          }
        }
      }

      .level-three__map {
        position: absolute;
        width: 25%;
        justify-content: center;
        .map_items {
          position: relative;
          .map {
            z-index: 2;
            opacity: 1;
          }
        }
      }
      .bridge1 {
        top: 20%;
        left: 8%;
        .yellow_tile {
          top: -30%;
          left: auto;
          right: -50%;
        }
        .green_tile {
          top: 100%;
          left: -20%;
        }
      }
      .bridge2 {
        top: 18%;
        left: auto;
        right: 25%;
        .yellow_tile {
          top: -20%;
          left: auto;
          right: -85%;
        }
        .green_tile {
          top: 70%;
          left: auto;
          right: -80%;
        }
      }
      .road1 {
        top: 45%;
        left: 35%;
        .yellow_tile {
          top: 20%;
          right: -90%;
          left: auto;
        }
        .green_tile {
          top: -25%;
          right: -30%;
          left: auto;
        }
      }
      .road2 {
        top: 65%;
        left: 5%;
        .yellow_tile {
          top: 20%;
          left: auto;
          right: -90%;
        }
        .green_tile {
          top: 70%;
          left: auto;
          right: -60%;
        }
      }
      .road3 {
        .level-three__tile {
          .level-three__tile_img {
            order: 1;
          }
          .level-three__tile_text {
            order: 2;
          }
        }
        top: 70%;
        left: auto;
        right: 13%;
        .yellow_tile {
          top: -30%;
          left: auto;
          right: -30%;
        }
        .green_tile {
          top: 75%;
          left: -70%;
          right: auto;
        }
      }
    }
  }
}
