.landscape-deactive {
  display: grid;
  align-items: flex-start;
  .level-three__container {
    display: grid;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #e3e8fe;
    background-image: url("../../images/Lvl3/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .header-area {
      padding-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .dynamic-area__money {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .money__image {
          margin-top: -5px;
          width: 40px;
          padding-top: 10px;
        }
        .money__amount {
          font-size: 35px;
          display: flex;
          align-items: center;
        }
      }
      .dynamic-area__bar {
        display: flex;
        justify-content: center;
        height: 60px;
        .bar__guage {
          transform: rotate(-90deg);
          width: 60px;
        }
      }
    }

    .level-three__map {
      position: absolute;
      width: 20%;
      justify-content: center;
      .map_items {
        position: relative;
        .map {
          z-index: 2;
          opacity: 1;
        }
      }
    }
    .bridge1 {
      .level-two__tile {
        .level-two__tile_img {
          order: 2;
        }
        .level-two__tile_text {
          order: 1;
        }
      }
      top: 20%;
      left: 20%;
      .yellow_tile {
        top: 20%;
        left: -50%;
      }
      .green_tile {
        top: 50%;
        left: -70%;
      }
    }
    .bridge2 {
      .level-two__tile {
        .level-two__tile_img {
          order: 1;
        }
        .level-two__tile_text {
          order: 2;
        }
      }
      top: 18%;
      left: auto;
      right: 15%;
      .yellow_tile {
        top: 0%;
        left: auto;
        right: -45%;
      }
      .green_tile {
        top: 40%;
        left: auto;
        right: -60%;
      }
    }
    .road1 {
      .map_items {
        display: grid;
      }
      .level-two__tile {
        display: grid;
        .level-two__tile_img {
          order: 2;
        }
        .level-two__tile_text {
          order: 1;
        }
      }
      top: 15%;
      left: 43%;
      .yellow_tile {
        top: -30%;
        left: 17%;
      }
      .green_tile {
        top: -30%;
        left: 53%;
      }
    }
    .road2 {
        .level-two__tile {
          .level-two__tile_img {
            order: 2;
          }
          .level-two__tile_text {
            order: 1;
          }
        }
        top: 60%;
      left: 30%;
        .yellow_tile {
            top: 40%;
            left: -60%;
          }
          .green_tile {
            top: 80%;
            left: -30%;
          }
      }
      .road3 {
        .level-two__tile {
          .level-two__tile_img {
            order: 1;
          }
          .level-two__tile_text {
            order: 2;
          }
        }
        top: 55%;
      left: auto;
      right: 18%;
      .yellow_tile {
        top: 40%;
        left: auto;
        right: -60%;
      }
      .green_tile {
        top: 75%;
        left: auto;
        right: -40%;
      }
      }
  }
}
