.scoresheet_container {
  padding: 20px 0;
  position: relative;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/Lvl3/Background.png);
  .scoresheet_overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
  }
  .scoresheet_content {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    p {
      margin: 0px;
      text-transform: capitalize;
    }
    .scoresheet_table {
      width: 93vw;
      justify-self: center;
      min-height: 150px;
      display: grid;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
      .table {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 1fr;
        .title {
          font-weight: bold;
          display: grid;
          justify-content: center;
          align-items: center;
          padding: 7px 2px;
          font-size: 13px;
          letter-spacing: 1;
          color: rgba(255, 255, 255, 0.9);
        }
        .rightborder {
          border-right: 1px solid;
        }
      }
      .table_head {
        background: navy;
        border-radius: 20px 20px 0 0;
        height: 50px;
      }
      .table_body1 {
        display: grid;
        .body_slice {
          min-height: 40px;
          .details {
            font-size: 13px;
            border-color: #333;
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 4px 3px;
            letter-spacing: 0.5;
            color: #333;
          }
          &:nth-child(odd) {
            background: rgba(135, 207, 235, 0.2);
          }
          &:first-child {
            background: rgba(255, 68, 0, 0.2);
            p{
                color: orangered;
            }
          }
        }
      }
      .table_body2 {
        display: grid;
        .body_slice {
          height: 40px;
          .details {
            font-size: 13px;
            border-color: #333;
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 4px 3px;
            letter-spacing: 0.5;
            color: #333;
          }
          &:nth-child(even) {
            background: rgba(135, 207, 235, 0.2);
          }
        }
      }
    }
    .download {
      cursor: pointer;
      height: 40px;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
      padding: 0 20px;
      font-size: 12px;
      letter-spacing: 1px;
      border-radius: 5px;
      background: orangered;
      font-weight: 600;
      text-transform: capitalize;
      border: none;
      color: #fff;
      text-decoration: none;
      display: grid;
      align-items: center;
    }
  }
  .footer-area {
    position: absolute;
    bottom: 0;
    z-index: 3;
    a {
      text-decoration: none;
      color: #333;
    }
    .footer__retry-area{
      .footer__retry{
        width: unset;
      }
    }
    .footer__others{
      display: none;
    }
  }
}

@media (min-width: 48em){
  .scoresheet_container {
    padding: unset;
    .scoresheet_content {
      .scoresheet_table {
        width: 700px;
        min-height: 150px;
        .table {
          grid-template-columns: 1fr 3fr 2fr 1.5fr;
          .title {
            padding: 7px 2px;
            font-size: 18px;
          }
        }
        .table_head {
          height: 50px;
        }
        .table_body1 {
          .body_slice {
            height: 40px;
            .details {
              font-size: unset;
              padding: 4px 2px;
            }
          }
        }
        .table_body2 {
          .body_slice {
            height: 40px;
            .details {
              font-size: unset;
              padding: 4px 2px;
            }
          }
        }
      }
      .download {
        font-size: 14px;
      }
    }
    
  }
}