.landscape-active {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;

  .level-two__container {
    transform: rotate(-90deg);
    width: 100vh;
    height: 100vw;
    overflow: hidden !important;
    background-color: #e3e8fe;
    background-image: url("../../images/Lvl2/Yoda_Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;

    .header-area {
      padding-top: 15px;
      display: grid;
      grid-template-columns: 60% 40%;
      .header__dynamic-area {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: 1fr 4fr;
        align-items: flex-start;
        gap: 5%;
        .dynamic-area__money {
          margin-top: 10%;
          gap: 10px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .money__image {
            margin-top: -5px;
            width: 40px;
            padding-top: 10px;
          }
          .money__amount {
            font-size: 30px;
            font-weight: bold;
            display: flex;
            align-items: center;
          }
        }
        .dynamic-area__bar {
          display: flex;
          justify-content: flex-start;
          .bar__guage {
            width: 50px;
          }
        }
      }
    }

    .level-two__map {
      position: absolute;
      width: 35%;
      top: 10%;
      left: 30%;
      display: grid;
      justify-content: center;

      .map__counter {
        z-index: 3;
        font-size: 70px;
        top: 190px;
        position: relative;
        color: aliceblue;
      }

      .map {
        z-index: 2;
        position: absolute;
        opacity: 1;
      }
    }

    .Pavement {
      left: 82%;
      top: 5%;
    }
    .Pavement2 {
      left: 80%;
      top: 21%;
    }
    .Bridge {
      left: 75%;
      top: 37%;
    }
    .Bridge2 {
      left: 70%;
      top: 53%;
    }
    .Equipment {
      left: 63%;
      top: 69%;
    }
    .Fleet {
      left: 55%;
      top: 85%;
    }
  }
}

@media screen and (max-width: 1000px) and (max-height: 500px) {
  .landscape-active {
    .level-one__container {
      height: 300px;

      .level-one__stall {
        width: 35%;
        top: 40px;
        left: -5%;
      }

      .level-one__basket {
        top: 130px;
        left: 48%;

        .basket__counter {
          font-size: 20px;
          top: 70%;
        }

        .basket {
          z-index: 2;
          position: absolute;
          opacity: 0.9;
        }
      }

      .Blueberry {
        left: 87%;
        top: 100px;
        width: 8%;
      }
      .Banana {
        left: 81%;
        top: 170px;
        width: 13%;
      }
      .Coconut {
        left: 68%;
        top: 210px;
        width: 15%;
      }
      .Watermelon {
        left: 54%;
        top: 240px;
        width: 12%;
      }
      .Cherry {
        left: 40%;
        top: 222px;
        width: 8%;
      }
      .Pineapple {
        left: 25%;
        top: 200px;
        width: 14%;
      }
    }
  }
}
