.landscape-active {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;

  .level-one__container {
    transform: rotate(90deg);
    width: 100vh;
    height: 100vw;
    overflow: hidden !important;
    background-color: #e3e8fe;
    background-image: url("../images/Lvl1/Yoda_Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;

    .level-one__stall {
      position: absolute;
      width: 30%;
      top: 50px;
      z-index: 1;
    }

    .level-one__basket {
      position: absolute;
      width: 16%;
      top: 37%;
      left: 50%;
      display: grid;
      justify-content: center;

      .basket__counter {
        z-index: 3;
        font-size: 50px;
        top: 30px;
        position: relative;
        color: aliceblue;
      }

      .basket {
        z-index: 2;
        position: absolute;
        opacity: 1;
      }
    }

    .Blueberry {
      left: 87%;
      top: 25%;
      width: 8%;
    }
    .Banana {
      left: 81%;
      top: 50%;
      width: 13%;
    }
    .Coconut {
      left: 70%;
      top: 71%;
      width: 13%;
    }
    .Watermelon {
      left: 54%;
      top: 76.5%;
      width: 12%;
    }
    .Cherry {
      left: 40%;
      top: 73%;
      width: 8%;
    }
    .Pineapple {
      left: 25%;
      top: 60%;
      width: 14%;
      justify-content: start !important;

      .fruit__calories {
        margin-right: 40%;
      }
      .fruit__price {
        margin-right: 40%;
      }
    }
  }
}
