.level-one__container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    background-image: url('../images/Lvl1/Yoda_Background.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}