body {
  margin: 0;

  font-family: "Balsamiq Sans", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}
